{% extends "browse/base.html" %}
{% load static %}
{% block body-header %}
<!-- banner -->
<div style="height: 205px; background: #2aacc8">
   <div style="height: 5vh;" ></div>
   <div class="container">
      <div class="row">
         <div class="col-md-3 " ></div>
         <div class="col-md-6 " style="padding-left: 8%;padding-right: 7%;">
            <script
               src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            <script
               src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
            <script src={% static 'browse/js/ajax_upload.js' %}></script>
            <style>
               .hotelsearchBox {
               position: absolute;
               top: -5%;
               left: 28%;
               {#transform: translate(-100%, 0%);#} background: #2f3640;
               /* height: 40px; */
               border-radius: 40px;
               padding: 10px;
               }
               .hotelsearchButton {
               color: white;
               float: right;
               width: 40px;
               height: 40px;
               border-radius: 50%;
               background: #2f3640;
               display: flex;
               justify-content: center;
               align-items: center;
               transition: 0.4s;
               }
               .hotelsearchInput {
               border: none;
               outline: none;
               float: left;
               padding: 0;
               color: black;
               font-size: 16px;
               {#transition: 0.4s;#} line-height: 40px;
               {#width: 0px;#} width: 81%
               }
               .hotelsearchInput::placeholder {
               color: #f0f0f0;
               }
               @media screen and (max-width: 620px) {
               .hotelsearchBox:hover > .hotelsearchInput {
               width: 150px;
               padding: 0 6px;
               }
               }
            </style>
            <!-- <div class="autocomplete"> -->
            <div style="background: #808080; display: inline-block; border-radius: 20px; width: 100%; padding-left: 6%;">
               <input type="text" required id="delivery_input" name="delivery_input"
                  class="hotelsearchInput  delivery_loc_input" type="text"
                  placeholder="Enter Delivery Location"
                  style="background: transparent;" autocomplete="off">
               <style>
                  #clear_location {
                  cursor: pointer;
                  font-size: 20px;
                  color: #9F0053;
                  padding-left: 3%;
                  }
               </style>
               <form action="/browse/restaurants/" method="GET" id="location-based-search">
                  {#                                    {% csrf_token %}#}
                  <input type="hidden" id="delivery_area_srch" name="delivery_area_srch"/>
                  <span id="clear_location">&times;</span>
                  <script>
                     $(document).ready(function () {
                         $('#clear_location').on('click', function () {

                             function clearLocation() {
                                 $('#delivery_area_srch').val('');
                                 $('#delivery_input').val('');
                                 deliveryLocation.clear();
                             }


                                 clearLocation();


                         });
                     });
                  </script>
                  <button class="hotelsearchButton" href="#" id="hotelsearchButton">
                  <i class="fa fa-search">
                  </i>
                  </button>
                  <style>
                     .pac-container {
                     z-index: 10000 !important;
                     }
                     .pac-container:empty {
                     display: none !important;
                     }
                  </style>
               </form>
            </div>
            <!-- </div> -->
         </div>
         <div class="col-md-3 " style=""></div>
      </div>
      <div class="row" style="height: 10vh; ">
         <div class="col-md-3 " ></div>
         <div class="col-md-6 " style="padding: 4vh">
            <span style="padding-left: 50%; color: #9F0053; font-weight: bold;  font-size: large; ">Or</span>
         </div>
         <div class="col-md-3 " style=""></div>
      </div>
      <div class="row">
         <div class="col-md-3 " ></div>
         <div class="col-md-6 " style="padding-left: 22%; padding-bottom: 20px">
            <style>
               .button1 {
               background-color: #4CAF50; /* Green */
               border: none;
               color: white;
               border-radius: 20px;
               padding: 16px 32px;
               text-align: center;
               text-decoration: none;
               display: inline-block;
               font-size: 16px;
               margin: 4px 2px;
               transition-duration: 0.4s;
               cursor: pointer;
               background-color: #4e4c4c;
               color: black;
               border: 2px solid #4CAF50;
               }
               .button1:hover {
               background-color: #4CAF50;
               color: white;
               }
            </style>
{#            <button class="button button1" href="/">Green</button>#}
             <a href="/browse/upload" class="btn btn-primary">Go to Google</a>

         </div>
         <div class="col-md-3 " style=""></div>
      </div>
   </div>
</div>
<!--//banner -->
{% endblock %}