{% load static %}
{% load tagconstants %}


<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      {% block head-includes %}
      {% endblock %}
      {% block header %}
      {% endblock %}
   </head>
   <body>
      <div class="header-outs" id="home">
         <div class="container" style="height: 15vh; background: black; max-width: 100%">
            <div class="row">
               <div class="col-lg-3 col-md-3 logo-head">
                  <a href="/">
                     <h1 class="w3-tangerine w3-jumbo">{% constant "Website_Name" %}</h1>
                  </a>
               </div>
               <div class="col-md-5"></div>
               <div class="col-lg-4 col-md-3 ">
                  <div class="cart-icons">
                     <div class="row" style="background: #000;">
                        <div class="col-md-6">
                           <div class="dropdown" style="float: right">
                              {% if not loggedIn %}
                              <button class="topBtn"><span class="far fa-user"> Login/Register</span>
                              </button>
                              <div class="dropdown-content">
                                 <a href={% url 'accounts:login' %}>Login</a>
                                 <a href={% url 'accounts:register' %}>Register</a>
                              </div>
                              {% else %}
                              <button class="topBtn"><span class="far fa-user">
                              {{ request.user.username|upper }}</span></button>
                              <div class="dropdown-content">
                                 <a href="/customer/editProfile/">Profile</a>
                                 <a href={% url 'accounts:logout' %}>Logout</a>
                              </div>
                              {% endif %}
                           </div>
                        </div>
                     </div>
                     <div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         {% block body-header %}
         {% endblock %}
      </div>
      {% block body-content %}
      {% endblock body-content %}
      {% block body-footer %}
      {% endblock body-footer %}
      {% block body-footer-common %}
      {% endblock %}
      {% block shopping-cart %}
      <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
         style="padding-top: 100px;">
         <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <table class="show-cart table">
                  </table>
                  <div align="right">Total price: BDT <span class="total-cart"></span></div>
               </div>
               <div class="modal-footer">


                  <button class="clear-cart btn btn-danger" id="cart-clear-button">Clear</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

               </div>
            </div>
         </div>
      </div>
      <script type="text/javascript" src="{% static 'browse/js/notify.js' %}"></script>
      <script>
         function showSuccessNotification(name, timeout = 5000) {
             $.notify(name, "success", {
                 position: "right",
                 autoHideDelay: timeout
             });
         }

         function showFailureNotification(name, timeout = 5000) {
             $.notify(name, "error", {
                 position: "right",
                 autoHideDelay: timeout
             });
         }

         function showWarningNotification(name, timeout = 5000) {
             $.notify(name, "warn", {
                 position: "right",
                 autoHideDelay: timeout
             });
         }
      </script>

      {#    Cart#}
      {% endblock %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      {% block body-js-common %}
      <script>
         var deliveryLocation = (function () {
             // =============================
             // Private methods and propeties
             // =============================
             var location_data = ['', ''];//coord, name


             // Save location
             function saveLocation() {
                 localStorage.setItem('deliveryLocation', JSON.stringify(location_data));
             }

             // Load location
             function loadlocation() {
                 location_data = JSON.parse(localStorage.getItem('deliveryLocation'));
             }

             if (localStorage.getItem("deliveryLocation") != null) {
                 loadlocation();
                 // console.log(location_data);
             }


             // =============================
             // Public methods and propeties
             // =============================
             var obj = {};

             // Add to location
             obj.set = function (coord, name) {
                 location_data = [coord, name];
                 saveLocation();
                 return true;
             };

             // Clear location
             obj.clear = function () {
                 location_data = ['', ''];
                 saveLocation();
             };

             // Load
             obj.get = function () {
                 loadlocation();
                 return location_data;
             };

             return obj;
         })();

         function initAutocomplete() {

             var dhakaBounds = new google.maps.LatLngBounds(
                 new google.maps.LatLng(23.6612704, 90.3295468),
                 new google.maps.LatLng(23.6612704, 23.9000025));

             autocomplete2 = new google.maps.places.Autocomplete(
                 (document.getElementById('delivery_input2')), {'bounds': dhakaBounds}
             );
             // Set initial restrict to the greater list of countries.
             autocomplete2.setComponentRestrictions({'country': ['bd']});


             autocomplete2.setFields(['place_id', 'geometry', 'name', 'formatted_address']);
             autocomplete2.addListener('place_changed', function () {
                 var place = autocomplete2.getPlace();
                 document.getElementById('delivery_area_srch').value = place.geometry.location.lat() + "," + place.geometry.location.lng();
                 document.getElementById('delivery_input').value = document.getElementById('delivery_input2').value;
                 deliveryLocation.set(document.getElementById('delivery_area_srch').value, document.getElementById('delivery_input2').value);
             });
             autocomplete = new google.maps.places.Autocomplete(
                 (document.getElementById('delivery_input')), {'bounds': dhakaBounds}
             );

             // Set initial restrict to the greater list of countries.
             autocomplete.setComponentRestrictions({'country': ['bd']});

             // Specify only the data fields that are needed.
             autocomplete.setFields(['place_id', 'geometry', 'name', 'formatted_address']);
             autocomplete.addListener('place_changed', function () {
                 var place = autocomplete.getPlace();
                 document.getElementById('delivery_area_srch').value = place.geometry.location.lat() + "," + place.geometry.location.lng();
                 deliveryLocation.set(document.getElementById('delivery_area_srch').value, document.getElementById('delivery_input').value);
                 $('.hotelsearchButton').click();
             });





         }
      </script>


      <link rel="stylesheet" href="{% static 'browse/Restaurant_homepage/css/bootstrap.css' %}">

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <!-- //bootstrap working-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

      {% endblock %}
{#      <script src={% static 'browse/js/location.js' %}></script>#}
      {% block body-js %}
      {% endblock %}
   </body>
</html>