{% load static %}
{% load tagconstants %}


<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      {% block head-includes %}
      {% endblock %}
      {% block header %}
      {% endblock %}
   </head>
   <body>
      <div class="header-outs" id="home" style="background: #000">
         <div class="container" style="height: 15vh; background: black; max-width: 100%">
            <div class="row">
               <div class="col-lg-3 col-md-3 logo-head">
                  <a href="/">
                     <h1 class="w3-tangerine w3-jumbo">{% constant "Website_Name" %}</h1>
                  </a>
               </div>
               <div class="col-md-5"></div>
               <div class="col-lg-4 col-md-3 ">
                  <div class="cart-icons">
                     <div class="row" style="background: #000;">
                        <div class="col-md-6">
                           <div class="dropdown" style="float: right">
                              {% if not loggedIn %}
                              <button class="topBtn"><span class="far fa-user"> Login/Register</span>
                              </button>
                              <div class="dropdown-content">
                                 <a href={% url 'accounts:login' %}>Login</a>
                                 <a href={% url 'accounts:register' %}>Register</a>
                              </div>
                              {% else %}
                              <button class="topBtn"><span class="far fa-user">
                              {{ request.user.username|upper }}</span></button>
                              <div class="dropdown-content">
                                 <a href="/customer/editProfile/">Profile</a>
                                 <a href={% url 'accounts:logout' %}>Logout</a>
                              </div>
                              {% endif %}
                           </div>
                        </div>
                     </div>
                     <div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         {% block body-header %}
         {% endblock %}
      </div>
      {% block body-content %}
      {% endblock body-content %}
      {% block body-footer %}
      {% endblock body-footer %}
      {% block body-footer-common %}
      {% endblock %}


      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      {% block body-js-common %}
    


{#      <link rel="stylesheet" href="{% static 'browse/Restaurant_homepage/css/bootstrap.css' %}">#}
{##}
{#      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">#}
{#      <!-- //bootstrap working-->#}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
{#      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>#}
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

      {% endblock %}
      {% block body-js %}
      {% endblock %}
   </body>
</html>