{% extends 'memesbd/base.html' %}
{% load static %}
{% load sass_tags %}
{{% load tagconstants %}
}
{% block header %}
	<title>Memes | {% constant "Website_Name" %}</title>
{% endblock %}


{% block body-content %}

	<section class="contact py-lg-4 py-md-3 py-sm-3 py-3">
		<div class="container-fluid py-lg-5 py-md-4 py-sm-4 py-3">
			<h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Memes</h3>
			<div class="row">
				<div class="">

					<link href="{% sass_src 'memesbd/css/utility.scss' %}" rel="stylesheet" type="text/css"/>

					<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet'
					      type='text/css'>
					<link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">

				</div>
			</div>
			<div class="row">
				<div class="left-ads-display col-lg-9 product_list">
					{% include "memesbd/meme_list.html" %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}