{% extends 'coreapp/base.html' %}
{% load static %}
{% block head_content %}
	<title>Unsplash Image Gallery</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
	      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'coreapp/css/facebook_reactions.css' %}">
{% endblock %}


{% block body_content %}
	<div class="infinite-container">
		{% for post in posts %}

			<div class="infinite-item">
				<div class="row">

					<div class="col-lg-4 col-sm-6">
						navbar

					</div>
					<div class="col-lg-4 col-sm-6">


						<div class="thumbnail">
							<img src="{{ post.image.url }}" alt="">
							<label for="tags">{{ post.caption }} </label>


							<div>
								<div class="facebook-reaction">
									<span class="like-btn">
                                <span class="fa like-btn-emo fa-thumbs-o-up" id="like-btn-emo-{{ post.id }}"></span>
                                <span class="like-btn-text react-change" id="like-btn-text-{{ post.id }} ">Like</span>
                                <ul class="reactions-box" data-id="{{ post.id }}">
                                  <li class="reaction reaction-like react-change" data-id="{{ post.id }}"
                                      data-reaction="Like"></li>
                                  <li class="reaction reaction-love react-change" data-id="{{ post.id }}"
                                      data-reaction="Love"></li>
                                  <li class="reaction reaction-haha react-change" data-id="{{ post.id }}"
                                      data-reaction="HaHa"></li>
                                  <li class="reaction reaction-wow react-change" data-id="{{ post.id }}"
                                      data-reaction="Wow"></li>
                                  <li class="reaction reaction-sad react-change" data-id="{{ post.id }}"
                                      data-reaction="Sad"></li>
                                  <li class="reaction reaction-angry react-change" data-id="{{ post.id }}"
                                      data-reaction="Angry"></li>
                                </ul>

                                </span>
									<div class="like-stat"> <!-- Like statistic container-->
										<span class="like-emo" id="like-emo-{{ post.id }}"> <!-- like emotions container -->
                                  </span> <span class="like-details" id="like-details-{{ post.id }}">Mahmud Mushfique and 86 others</span>
									</div>
								</div>
{#								{% if post.post_react_user %}#}
								{{ post.post_react_user }}
{#								{% endif %} #}
{#								<script>#}
{#									$("#like-btn-emo-" + data_id).removeClass().addClass('like-btn-emo').addClass('like-btn-' + data_reaction.toLowerCase());#}
{#									$("#like-btn-text-" + data_id).text(data_reaction).removeClass().addClass('like-btn-text').addClass('like-btn-text-' + data_reaction.toLowerCase()).addClass("active");#}
{#								</script>#}
							</div>


						</div>


					</div>
					<div class="col-lg-4 col-sm-6">
						ad

					</div>
				</div>


			</div>
		{% endfor %}


	</div>
	{% if posts.has_next %}
		<a class="infinite-more-link" href="?page={{ posts.next_page_number }}">More</a>
	{% endif %}

{% endblock %}

{% block script_content %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	        crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"
	        integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/infinite.min.js"
	        integrity="sha256-Qp8DnNDYDDwTWO5OCw8HFoCJOqO1l4OmcIlIZNfi6tI=" crossorigin="anonymous"></script>

	<script>
		var infinite = new Waypoint.Infinite({
			element: $(".infinite-container")[0]
		});
	</script>

	<script>
		const csrftoken = getCookie('csrftoken');
		$.ajaxSetup({
			beforeSend: function (xhr, settings) {
				if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			}
		});

		function send_react(data_id, react_val, reactCallback) {
			var react_successful = false;
			$.ajax({
				type: "POST",
				headers: {
					"X-CSRFToken": csrftoken
				},
				url: `memesbd/item/${data_id}/reactOn/`,
				data: {
					'react': react_val,
				},
				success: function (data) {
					if (data['success'] && data['id'] == data_id) {
						reactCallback(data_id, react_val);
					}
				}

			});
			return react_successful;
		}


		function update_react_add(data_id, data_reaction) {
			alert(data_reaction)

			$("#like-details-" + data_id).html("reacted " + data_reaction + " on " + data_id);
			$("#like-btn-emo-" + data_id).removeClass().addClass('like-btn-emo').addClass('like-btn-' + data_reaction.toLowerCase());
			$("#like-btn-text-" + data_id).text(data_reaction).removeClass().addClass('like-btn-text').addClass('like-btn-text-' + data_reaction.toLowerCase()).addClass("active");

			if (data_reaction === "Like") {
				$("#like-emo-" + data_id).html('<span class="like-btn-like"></span>');
			} else {
				$("#like-emo-" + data_id).html('<span class="like-btn-like"></span><span class="like-btn-' + data_reaction.toLowerCase() + '"></span>');
			}
		}

		function update_react_del(data_id, data_reaction) {
			if ($(this).hasClass("active")) {
				$("#like-btn-text-" + data_id).text("Like").removeClass().addClass('like-btn-text');
				$("#like-btn-emo-" + data_id).removeClass().addClass('like-btn-emo').addClass("like-btn-default");
				$("#like-emo-" + data_id).html('<span class="like-btn-like"></span>');
				$("#like-details-" + data_id).html("Unreacted on " + data_id);
			}
		}

		$(document).ready(function () {
			"use strict";
			$(".reaction").on("click", function () {   // like click
				const data_id = $(this).attr("data-id");
				var data_reaction = $(this).attr("data-reaction");
				send_react(data_id, data_reaction, update_react_add);
			});
			$(".like-btn-text").on("click", function () { // undo like click
				const data_id = $(this).attr("data-id");
				send_react(data_id, 'None', update_react_del);
			});
		});
	</script>
{% endblock %}
